#app{
    height: 100vh;
    display: flex;
}

.container{
    width: 100%;
    display: flex;
}

.col-right.display-right{
    display: flex;
}

.col-right{
    display: none;
    flex-wrap: wrap;
}

.info{
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.h-100{
    height: 100px;
}

.info-left{
    display: flex;
    align-items: center;
}

.remove-chat.visible{
    display: block;
}

.info .icons{
    position: relative;
}

.remove-chat{
    display: none;
    width: 150px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 75px;
    right: 15px;
    z-index: 2;
}

.input-message.visible{
    display: block;
}

.input-message{
    display: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.access{
    font-size: 15px;
    color: var(--darkgray);
}

.messages{
    width: 100%;
    height: calc(100% - 180px);
    background-image: url("../../img/mine.jpg");
    padding-top: 30px;
    overflow-y: auto;
}

.text{
    width: 100%;
    height: 80px;
    background-color: #f3eeeb;
    display: flex;
}

input{
    font-size: 22px;
}

.col-right .text input{
    width: 80%;
    height: 80%;
    margin: auto;
    border: none;
    border-radius: 15px;
}

::-webkit-input-placeholder{
    padding: 20px;
    font-size: 16px;
}

.message{
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    margin-top: 10px;
    position: relative;
}

.box{
    display: flex;
    justify-content: flex-end;
}

.sent{
    background-color: #d4f9bb;
    margin-right: 30px;
}

.received{
    background-color: white;
    margin-right: auto;
    margin-left: 30px;
}

.fa-angle-down,
.time{
    color: var(--gray);
    position: absolute;
}

.menu.visible{
    display: block;
}

.menu{
    display: none;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 2;
}

.menu p{
    padding: 20px;
    border: 1px solid gray;
}

.menu p:hover{
    background-color: lightgray;
}

.fa-angle-down{
    top: 25px;
    right: 10px;
}

.time{
    bottom: 6px;
    right: 10px;
    font-size: 12px;
}

.col-left.display-left{
    display: flex;
}

.col-left,
.text i{
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.icons{
    display: flex;
    align-items: center;
}

.icons i{
    font-size: 25px;
    color: var(--gray);
    padding: 0 10px;
}

.me{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #eaeaea;
    border-right: 1px solid var(--gray);
}

.me .icons{
    display: flex;
    padding-right: 15px;
}

.notifications{
    display: flex;
    width: 100%;
    background-color: var(--notifications-color);
    align-items: center;
}

.fa-bell-slash{
    font-size: 25px;
    padding: 15px;
    background-color: white;
    color: var(--notifications-color);
    border-radius: 50%;
    margin: 20px;
}

.new-notification .enable{
    font-size: 16px;
    color: var(--darkgray);
    text-decoration: underline;
}

.search{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(243, 243, 243);
}

.search input{
    width: 75%;
    height: 70%;
    margin: auto;
    border: none;
}

.search .icons{
    padding: 15px;
}

.friends{
    overflow-y: auto;
}

.friend .content{
    display: block;
}

.friend{
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(230, 230, 230);
    position:relative;
}

.friend:hover{
    background-color: rgb(230, 230, 230);
}

.friend.active{
    background-color: rgb(230, 230, 230);
}

.last-access{
    position: absolute;
    top: 25px;
    right: 25px;
}

.stato, 
.last-access{
    color: var(--gray);
    font-size: 15px;
}